@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*!UNIVERSAL CODE*/
*{
margin :0;
padding :0;
box-sizing :border-box;
font-family: "Poppins", sans-serif;
}
html , 
html {
font-size: 62.5%;
/* 1rem=10px */
}
p,
li,
a,
label,
button {
font-size: 1.8rem;
letter-spacing: 0.1rem;
font-weight: 400;
line-height: 1.5;
}
a {
text-decoration: none;
}
li {
list-style: none;
}
:root{
    --background:#231942;
    --textcolor:#e0fbfc;
}

.mainarea{
    width: 100vw;
    height: 100vh;
    background-color:var(--background) ;
     position: relative;
    
}
.main-content{
     display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    position: absolute;
   z-index: 1;
    
}
.cardelem{
    width: 23rem;
    height: 25rem;
   border-radius: 1rem;
   overflow: hidden;
     position: relative;
  
    
}
.cardelem img{
    width:100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 1rem; */

}

.cardelem h2{
    color: var(--textcolor);
    position: absolute;
    right: 5%;
    bottom: 1%;
    font-size: 3rem;
}

/* .main-page{
   width: 100vw;
   height: 100vh;
   

    
} */

.page{
     background-color: red;
   width: 100%;
   height: 100%;
   /* max-width: 120rem;
   max-height: 60rem; */
    background-color: white;
   position: absolute;
   /* top: 0;
   bottom: 0; */
   z-index: 3;
    
}
.todopage{
     
    display: none;
}
.show{
    display: block;
}