@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
  /* 1rem=10px */
}
.main-container {
  display: flex;
 
  justify-content: space-evenly;
  align-items: center;
  background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("./images/qrBg\ \(1\).jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  
  /* gap: 40rem; */
}
.sidebar {
    width: 50%;
  display: flex;

  justify-content: center;
  align-items: center;
  & img {
    width: 15rem;
  }
}
.content {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: black;
  & p {
    font-weight: bold;
  }
}

.linkmain{
    background-color: #F1F5F9;
    width: 28rem;
    height: 17rem;
    border-radius: 2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 5px 10px black;
}
.linkcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
h2{
    font-size: 3rem;
    text-transform: capitalize;
}
.linkcontent input{
    padding: 0.2rem;
    font-size: 1.6;
    font-weight: bold;
}
.linkcontent button{
    padding: 1rem;
    background-color: black;
    color: #F1F5F9;
    border-radius: 1rem;
    font-size: 1.6rem;

}

#qrget{
      height: 450px;
    width: 300px;
    background-color: black;
    border-radius: 1rem;
    position: absolute;
    display: flex;
     bottom: 60%;
     opacity: 0;
    transform: scale(0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out,
                opacity 0.5s,
                bottom 0.5s ease-in-out;
}
 #qrget.show{

    transform: scale(1);
    opacity: 1;
    bottom: 15%;

}

h3{
    font-size: 2rem;
    color: #F1F5F9;
    text-transform: capitalize;
}
#dwmdiv{
    display: flex;
    gap: 4rem;
}
#dwmdiv button{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.8rem;
    padding: 0.5rem;
    color:black;
    background-color: #F1F5F9;
    border-radius: 1rem;
    

}