@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:"Roboto Condensed", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
html{
    font-size: 62.5%;
}
:root{
    --font:"Roboto Condensed", sans-serif;
    --maincolor:#F9AF1E;
    --backcolor:#CBC0A1;
    --pure-white:#FFF;
    --lead:#212121;
    --body-color:#f3f0e7;


}

body{
    background-color: var(--body-color);
}

/* basic style */

a{
    text-decoration: none;
    color: var(--lead);
    font-size: 2rem;
}


/* header style */

.nav-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 0rem 3rem;
}
.logo{
    font-size: 3rem;
    color: var(--maincolor);
    font-weight: bold;

}
.link{
    display: flex;
    gap: 4rem;
    & a{
        font-weight: 500;
    }
}


.nav-action {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 2rem;
}
.sign-btn{
    font-size: 2rem;
    color: var(--pure-white);
   padding: 1rem;
    background-color: var(--maincolor);
    border-radius: 2rem;
    line-height: 20px;


}
.bag{
    position: relative;
    font-size: 1.5rem;

    & .cart-value{
        font-size: .8rem;
        position: absolute;
         bottom:-0.5rem;
  left: 1.3rem;
  background-color: var(--maincolor);
  padding: 0.3rem;
  border-radius: 2rem;
    }
}

.nav-action .side-bar{
    font-size: 1.5rem;
    display: none;
}
.mobile-bar{
    display: none;
}
/* section style */




/* footer style */
